# Copia este archivo como .env y cambia los secretos
PORT=3001
JWT_SECRET=pon-aqui-un-texto-largo-aleatorio
ADMIN_TOKEN=pon-aqui-tu-clave-de-admin
GOOGLE_CLIENT_ID=60146882018-1ad06p3sgqlo46ka8s2msm50r2m2durd.apps.googleusercontent.com
